sqlalchemy
sqlalchemy-aurora-data-api
aws-xray-sdk==2.4.3

psycopg2-binary
wheel
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
Flask
idna
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
PyJWT==1.7.1
pytz==2020.1
six==1.14.0
twilio==6.40.0
urllib3==1.25.9
Werkzeug==1.0.1

bs4
beautifulsoup4
botocore
boto3
requests
pytest
numpy